html {
    @apply h-full;
}
body {
    @apply bg-cover bg-fixed;
    /*background-color: #FAFAFA; */
}
%main {
    margin: 0 auto;
    @apply w-full px-20 py-10;
}
@media (min-width: $sm) {
    %main {
        
    }
}
@media (min-width: $lg) {
    %main {
        @apply w-10/12;
    }
}
main {
    @extend %main;
}
@media (min-width: $sm) {
    .full {
        @apply w-full;
    }
}
@media (min-width: $md) {
    .full {
        @apply w-full;
    }
}
@media (min-width: $lg) {
    .full {
        @apply w-full;
    }
}


.box {
    @extend %section;
    @apply h-auto;
}
%box-p {  /* if there is to be a background color for boxes */
    @apply py-4 px-8;
}
.box-p {  
    @extend %box-p;
}
.box-explain {
    @extend %container-border;
    @apply p-8 flex;
    
    img {
        @apply w-24 h-24 rounded-full object-cover;
        margin: 0 auto;
    }
    div {
        @apply pl-6 w-full;
        h3 {
            @apply font-semibold text-lg text-left;
        }
    }
}
%box-pocket {
    @extend %box-p;
    @apply bg-gray-100;
}
.box-pocket {
    @extend %box-pocket;
}
%container-border {
    @apply border-gray-200 border-2 rounded-md;
}
%container-wrap {
    @apply flex flex-wrap;
}
%section {
    @apply mb-6 mt-8;
}
.section {
    @extend %section;
}
%no-decoration {
    @apply text-black;
    
    &:hover {
        @apply no-underline;
    }
}

.article {
    margin: 0 auto;
    @apply w-full;
}
@media (min-width: $md) {
    .article {
        @apply w-10/12;
    }
}
@media (min-width: $lg) {
    .article {
        @apply w-9/12;
    }
}