* {
    @apply text-justify /*leading-loose*/ tracking-normal;
    font-family: $font-base;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-fancy;
    @apply font-bold leading-loose mb-2 mt-6;
}
h1 {
    @apply text-3xl mb-0;
}
@media (min-width: $lg) {
    h1 {
        @apply text-4xl;
    }
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}
h4 {
    @apply text-lg;
}
p, 
li,
p span,
p a {
    @apply mb-3;
}
a {
    @apply text-indigo-600;
}
a:hover {
    @apply underline;
}
i {
    @apply mr-2;
}
.emoji {
    width: 1rem;
    @apply inline-block text-left;
}


ol,
ul {
    @apply list-outside pl-4 ml-3;
}
ol {
    @apply list-decimal;
}
ul {
    @apply list-disc;
}


// From https://stackoverflow.com/a/54924505
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}