* {
    @apply text-justify leading-loose tracking-normal;
    font-family: $font-base;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-fancy;
    @apply font-bold leading-loose mb-2;
}
h1 {
    @apply text-3xl mb-0;
}
@media (min-width: $lg) {
    h1 {
        @apply text-4xl;
    }
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}
h4 {
    @apply text-lg;
}
p, 
li,
p span,
p a {
    @apply mb-3;
}
a {
    @apply text-indigo-600;
}
a:hover {
    @apply underline;
}
i {
    @apply mr-2;
}
.emoji {
    width: 1rem;
    @apply inline-block;
}


ol {
    @apply list-decimal;
}
ol {
    @apply list-disc;
}