// Typography
$font-base: 'Average Sans', sans-serif;
$font-fancy: 'Nunito', sans-serif;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// Colors
$light: '#CFDEE7';           // Beau Blue
$light2: '#92B4F4';          // French Sky Blue
$medium: '#6D72C3';          // Violet Blue Crayola
$dark: '#0A369D';            // Egyptian Blue
$dark2: '#712F79';           // Maximum Purple